
.details .container-profil {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media(max-width: 792px) {
    .details .container-profil {
        flex-direction: column;
        justify-content:center;
        width:100%;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align:left;
    margin-right: 30px;   
    width:30%;
    gap: 30px;
    border-right: 1px solid #d9d9d9;
}
@media(max-width: 992px) {
    .profile {
        border-right: none;
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 0;
    }
}

.min-profil {
    position:relative;
    display: flex;
    flex-direction:column;
    align-items: center;
   
}

.avatar-container {
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
}
    .min-profil .avatar-container img {
        width: 100%; 
        height: auto;
        display: block;
    }


    .min-profil form {
        position: absolute;
        top: 70px;
        right: 60px;
        margin-left: 5px;
        border-radius:50px;
        background-color: #EFF9FC;
    }
@media (max-width: 792px) {
    .min-profil form {
        position: relative;
        top: -40px;
        right: -30px;
        margin-left: auto;
        margin-top: 10px;
        border-radius: 50px;
        width: 45px;
        height: auto;
    }
}
@media (max-width: 572px) {
    .min-profil form {
        position: relative;
        top: -50px;
        right: -40px;
        margin-left: auto;
        margin-top: 10px;
        border-radius: 50px;
       /* background-color: transparent;*/
        width: 45px;
        height: auto;
    }
}


.controllers {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    gap: 10px;
}

@media(max-width:992px) {
    .profile .controllers {
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}


.controllers .btn-trans {
    display: flex;
    align-items: center; 
    background-color: transparent;
    padding: 8px 12px ;
    border-radius: 8px;
    color: black;
}

    .controllers .btn-trans img {
        margin-right: 8px; 
    }

    .controllers .btn-trans:hover {
        background-color: #6366F1;
    }

        .controllers .btn-trans:hover img {
            filter: brightness(0) invert(1);
        }

.controllers .btn-trans:hover {
        color: #ffffff;
}


@media only screen and (max-width: 992px) {
    .controllers .btn-trans {
        display: inline-flex; 
        align-items: center;
        background-color: transparent;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        transition: background-color 0.3s ease;
    }

        .controllers .btn-trans img {
            width: 30px; 
            height: auto;
            transition: filter 0.3s ease;
        }
        .controllers .btn-trans .bookmark {
            width: 20px;
            height: auto;
            transition: filter 0.3s ease;
        }

        .controllers .btn-trans .btn-text {
            display: none;
            margin-left: 8px; 
            transition: opacity 0.3s ease;
        }

        .controllers .btn-trans:hover {
            background-color: #6366F1;
        }

            .controllers .btn-trans:hover img {
                filter: brightness(0) invert(1);
            }

            .controllers .btn-trans:hover .btn-text {
                display: inline-block; 
                opacity: 1;
            }
}
/*-------------------------------------------*/




/* ----------------------- */

.infoDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

@media(max-width:576px) {
    .infoDetails {
        padding: 20px 40px;
    }
}


.create {
    display: block;
    justify-content: center;
    align-items: center;
}

.klientInfo {
    display: flex;
    gap: 20px;
}

@media(max-width:576px) {
    .klientInfo {
        flex-direction: column;
    }
}

.klientDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 15px;
}


    .klientDetails input {
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 8px;
        padding: 8px 12px;
        margin-bottom: 15px;
    }


.textOptional {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .textOptional textarea {
        border: 1px solid rgb(235, 235, 235);
        border-radius: 8px;
        padding-left: 10px;
    }
form span{
    color:red;
}
.acountbutton {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .address input {
        border: 1px solid rgb(235, 235, 235);
        padding: 8px 12px;
        border-radius: 8px;
        margin-bottom: 15px;
    }

.postalcode {
    display: flex;
    width: 100%;
    gap: 30px;
}
    
@media(max-width:576px) {
    .postalcode{
        flex-direction:column;
        width: 100%;
    }
}

   
